In [3]:
%load_ext sql
from sqlalchemy import create_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%sql postgresql://postgres:local@localhost:5432/vorfahrt

In [34]:
%%sql
SELECT "milesId", "licensePlate" FROM "MilesVehicle" LIMIT 25

   postgresql://postgres:***@localhost/vorfahrt
 * postgresql://postgres:***@localhost:5432/vorfahrt
25 rows affected.

[(10162, 'B-MS 3584'),
 (10163, 'B-MS 3587x'),
 (10164, 'B-MS 3592'),
 (10165, 'B-MS 3594'),
 (10166, 'B-MS 3618'),
 (10167, 'B-MS 3631'),
 (10168, 'B-MS 3648'),
 (10169, 'B-MS 3674'),
 (10170, 'B-MS 3684'),
 (10161, 'B-MS 3414'),
 (3319, 'B-MI 4591'),
 (17815, 'B-BM 5334'),
 (18572, 'B-BM 5774'),
 (11751, 'B-MS 6934'),
 (19034, 'B-BM 6095'),
 (5128, 'B-MI 7439'),
 (16254, 'B-BM 2968'),
 (4049, 'B-MI 5728'),
 (3304, 'B-MI 4612'),
 (3162, 'B-MI 1824'),
 (13185, 'WI-D 5103E'),
 (14899, 'B-MY 1853E'),
 (10930, 'B-MS 3121'),
 (24052, 'WI-MI 2134'),
 (19970, 'B-BM 7742')]